
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


header {
    background-color: #96b4f0;
    padding: 15px 20px;
    color: black;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    margin-bottom: 10px;
 
}

#menu {
    display: block; 
    font-size: 30px;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    margin-left: auto;
}

button{
    background-color: #96b4f0;
    color:black;
}

#menu::before {
	content:"☰";
}

#menu.open::before {
	content: "❌";
}

.navigation {
    display: none; 
    flex-direction: column;
    width: 100%;
    background-color: #96b4f0;
    padding: 10px 0;
    border-radius: 8px;
}

.navigation.open {
    display: flex; 
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
    display: flex;
    flex-direction: column; 
}

.navigation li {
    text-align: center;
}

.navigation a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 0;
    transition: color 0.3s ease-in-out;
}

.navigation a:hover {
    color: #ccc;
}

h2{
    color: black;
    font-size: 32px;
    text-align: center;
    padding: 30px; 
 }

.container {
    grid-template-columns: repeat(1, 1fr); 
    margin: 1rem; 
}

.temples-container {
    gap: 1rem; 
    margin: 1rem;
}

.temple-card {
    width: 100%; 
    margin: 0 auto;
}

.temple-card img {
    height: auto;
}


footer {
    font-size: 16px;
    padding: 15px;
}
