* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Space Grotesk", serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .title {
    text-align: center;
    padding: 20px;
    background-color:rgb(222, 222, 19);
    border-bottom: 10px solid #2e05f9;
    font-size: 30px;
    color:#2e05f9
  }
  
  .main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .image-section {
    flex-grow: 1; /* Ensures it grows to fill remaining space */
    width: 100%;
    background-image: url('/images/hero-large-colombia.webp'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    padding: 20px;
    position: relative;
  }

  .image-section img{
    display: none;
  }
  
  .data-section,
  .weather-section {
    width: 30%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 10px solid #2e05f9;
    border-radius: 15px;
  }

  .data-section h2, .weather-section h2{
    text-align: center;
    padding: 10px;
    background-color: #3790ea;
    color: white;
  }

  .data-section {
    position: absolute;
    top: 180px;
    left: 40px;
  }

  .data-section ol, .weather-section ol{
    text-align: center;
    list-style-type: none;
    font-size: 20px; 
  }

  .data-section li, .weather-section li{
    padding: 2px;
  }
  
  .weather-section {
    position: absolute;
    bottom: 180px;
    right: 40px;
  }

  .weather-section h2::after {
    content: '\2601';
    font-size: 60px;
    color: white;
    position: relative;
    top: 15px;
    left: 20px;
    transform: translateY(-50%);
}

.data-section h2::after {
    content: '\1F1E8\1F1F4';
    font-size: 60px;
    color: white;
    position: relative;
    top: 15px;
    left: 20px;
    transform: translateY(-50%);
}
  
  .footer {
    text-align: center;
    padding: 10px;
    background-color: #ee0505;
    border-top: 10px solid #2e05f9;
    color: white;
    font-size: 25px;

  }

  .last-modified{
    font-size: 15px;
    padding: 10px;
    color: white;
}
@media (min-width: 769px) {
    body {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 16px;
    }
}  