* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root{
    border-bottom: 10px solid #2e05f9;
    font-size: 20px;
    padding: 10px;
  }
  
  body {
    font-family:"Roboto", serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .title {
    text-align: center;
    padding: 20px;
    background-color:rgb(222, 222, 19);
    border-bottom: var(--border-bottom);
    font-size: 30px;
    color:#2e05f9
  }
  
  .main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .image-section {
    flex-grow: 1; 
    width: 100%;
    background-image: url('../images/hero-large-colombia.webp'); 
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    padding: 20px;
    position: relative;
  }

  .image-section img{
    display: none;
  }
  
  .data-section,
  .weather-section {
    width: 30%;
    padding: var(--padding);
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: var(--border-bottom);
    border-radius: 15px;
  }

  .data-section h2, .weather-section h2{
    text-align: center;
    padding: var(--padding);
    background-color: #b5d4f3;
    color: navy;
  }

  .data-section {
    position: absolute;
    top: 180px;
    left: 40px;
  }

  .data-section ol, .weather-section ol{
    text-align: center;
    list-style-type: none;
    font-size: var(--font-size);
  }

  .data-section li, .weather-section li{
    padding: 2px;
  }
  
  .weather-section {
    position: absolute;
    bottom: 180px;
    right: 40px;
  }

  .weather-section h2::after {
    content: ''; 
    display: inline-block;
    width: 60px;
    height: 60px;
    background-image: url('../images/weather.svg'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
    position: relative;
    top: 45px;
    left: 20px;
    transform: translateY(-50%);
}

.data-section h2::after {
    content: ''; 
    display: inline-block;
    width: 60px;
    height: 60px;
    background-image: url('../images/flag.svg'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
    position: relative;
    top: 45px;
    left: 20px;
    transform: translateY(-50%);
}
  
  .footer {
    text-align: center;
    padding: 10px;
    background-color: #ee0505;
    border-bottom: var(--border-bottom);
    color: white;
    font-size: var(--font-size);

  }

  .last-modified{
    font-size: var(--font-size);
    padding: var(--padding);
    color: white;
}
@media (min-width: 769px) {
    body {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 16px;
    }
}  